/* Importa la fuente Poppins de Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Reset CSS básico */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

body {
  background-color: #fff;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

button, input, textarea {
  font-family: inherit;
  font-size: 100%;
  border: none;
  background: none;
  padding: 0;
}

img, picture {
  max-width: 100%;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Estilo minimalista para el scroll */
* {
  scrollbar-width: thin;
  scrollbar-color: #2A4365 #E2E8F0; /* Blue thumb y gris claro de fondo */
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #E2E8F0; /* Fondo gris claro */
}

*::-webkit-scrollbar-thumb {
  background-color: #2A4365; /* Thumb azul */
  border-radius: 10px; /* Redondeado */
  border: 1px solid transparent; /* Bordes opcionales */
}
